.mainConatiner{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.aboutUsText{
	font-size: 36px;
	width: 75%;
}

.memberInfo{
	width: 75%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: left;
}

.memberInfoText{
	font-size: 36px;
}

.profilepic {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 100%;
	margin-right: 100px;
}