/* showcases (links to different showcases in portfolio) */
body * {
	/*border: 1px dashed white;*/
}

#title {
	display: block;
}

header nav #home-nav {
	display: none;
}

div.showcase-container {

	box-sizing: border-box;

	/*width: 100%;*/

	height: 300px;
	display: block;
	-webkit-transition: filter .4s ease-in;
	-moz-transition: filter .4s ease-in;
	-o-transition: filter .4s ease-in;
	transition: filter .4s ease-in;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

#gallery {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
	rgba(0, 0, 0, 0.5)), url(../images/mainGallery.png);
	
}

#desingdoc {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)), url(../images/dog2.jpg);
}


#demo {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)), url(../images/dog2.jpg);
}

#development {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)), url(../images/dog1.jpg);
}


/*TEXT ON IMAGE*/

div.showcase-text {

	text-shadow: 0 0 10px black;
	font-weight: normal;
	font-size: 36px;
    text-align: center;

}

.showcase-container:hover {
	filter: brightness(150%);
}

div.showcase-text:hover {
	color: #fff;
}


/*HOVER EFFECTS*/
/* only hover effect with screen size bigger than phones/specific tablets */
@media screen and (max-width: 769px) {
	div.showcase-text {
	height: 150px;
    line-height: 150px;
	}
}

.iconHolder {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

i {
	width: 40px;
	font-size: 36px;
}